.flexes {
  display: flex;
  justify-content: space-betweeen;
  border: 1px solid red;
}
.name {
  margin-left: 40px;
  margin-right: 200px;
  
}
.age {
  margin-left: 40px;
  margin-right: 200px;
}
.email {
  margin-left: 40px;
  margin-right: 200px;
}
